version: '3'

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: emrehanaydin
      POSTGRES_PASSWORD: 300718cc
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  service:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
    volumes:
      - .:/code
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    logging:
      driver: none
    container_name: nginx
    restart: always
    depends_on:
      - service
    ports:
      - "80:80"
    expose:
      - "80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./config/nginx.conf:/etc/nginx/conf.d/server.conf


volumes:
  postgres_data: